* {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}
.topicbtn{
    display: flex;
    width: 60%;
    padding: 40px;
    font-size: 100%;
    margin: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.intropage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
}